<!DOCTYPE html>
<html>
<head>
  <title>Exercise1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Login / Signout Things and nav -->
	<% if current_user %>
	  Welcome to BikeManager! You are signed in as <%= current_user.email %>.
	  <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
	  <br>
  	<%= link_to 'Users', users_path, :method => :get %>
	<%= link_to 'Your bikes', user_path(current_user.id), :method => :get %>
	<% else %>
	  Please <%= link_to 'sign in', new_user_session_path %> first.
	<% end %>
	<!-- Login / Signout Things and nav  -->
	<br><br>

<%= yield %>

</body>
</html>
